.top-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +9999;
  position: fixed;
  top: 30%;
  left: 26%;
  transition: 1s;
}
.after-form-hide {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: +9999;
  position: fixed;
  top: 30%;
  left: 26%;
  width: 50vw;
  transition: 1s;
}
.mainpage {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: auto;
  z-index: +9999;
  position: fixed;
  top: 60%;
  width: 100vw;
  left: 10%;
  transition: 1s;
}
