nav {
  display: flex;
}
.nav_menu,
.side_drawer {
  display: flex;
  flex-direction: column;
}
.side_drawer {
  background-color: rgba(248, 248, 248, 0.692);
  backdrop-filter: blur(15px);
  color: black;
  width: 15vw;
  height: 100vh;
  top: 12.5%;
  position: fixed;
  left: 0;
  z-index: -9999;
}
.nav_menu span {
  font-size: 1.8rem;
  color: rgb(194, 191, 191);
  margin-bottom: 40%;
}
.side_drawer span {
  font-size: 1.3rem;
  color: rgb(194, 191, 191);
  margin-top: 10%;
  margin-left: 30%;
}
.nav-container {
  display: flex;
  z-index: -9999;
}
